@model UpdateStudentViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <h2>Edit Student</h2>
    <a asp-action="Index">Return to students</a>
    <div>
        <form method="POST" asp-action="Edit">
            <input asp-for="StudentId" value="@Model.StudentId" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row checkbox-list">
                @foreach (KeyValuePair<Guid, string> course in Model.Courses)
                {
                    <label>
                        <input type="checkbox" name="SelectedCoursesIds" checked="@Model.SelectedCoursesIds.Contains(course.Key)" value="@course.Key"/>
                        @course.Value
                    </label>
                }
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</div>
